<!--menu section start  -->
<section class="our-menu section bg-light repeat-img">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">
                        <h2 class="h2-title">Menu</h2>
                    </div>
                </div>
            </div>
            <div class="menu-tab-wp">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <div class="menu-tab text-center">
                            <ul class="filters">
                                <div class="filter-active"></div>
                                <li class="filter" data-filter=".all, .breakfast, .lunch, .dinner">
                                    All
                                </li>
                                <li class="filter" data-filter=".breakfast">
                                    Breakfast
                                </li>
                                <li class="filter" data-filter=".lunch">
                                    Lunch
                                </li>
                                <li class="filter" data-filter=".dinner">
                                    Dinner
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-list-row">
                <div class="row g-xxl-5 bydefault_show" id="menu-dish">

                    <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="breakfast">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/breakfast3.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title" style="align-items: center;">Сongas</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Arroz, agua, sal, verduras, salsas y especias.</p>
                                <p style="color: black; text-align: center;">120 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$20.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="breakfast">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/breakfast7.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Nasi Goreng</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Аrroz, huevo, verduras, carne, especias</p>
                                <p style="color: black; text-align: center;">150 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$25.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="breakfast">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/breakfast6.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Flatbreads</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Masa de trigo, cebolla, jengibre, ajo, salsa de soja, aceite de oliva.</p>
                                <p style="color: black; text-align: center;">180 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$20.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 dish-box-wp lunch" data-cat="lunch">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/sushi2.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Sushi</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Rice, salmon, nori, avocado, cucumber, soy sauce, wasabi, ginger.</p>
                                <p style="color: black; text-align: center;">200 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$30.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 dish-box-wp lunch" data-cat="lunch">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/foto-2.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Orange salad with meat.</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <p style="color: black; text-align: center;">Meat, orange, greens, iceberg, tomato, sauce.</p>
                                <p style="color: black; text-align: center;">120 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$45.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 dish-box-wp lunch" data-cat="lunch">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/foto-4.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Baozians</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Meat, herbs, sauce, pepper.</p>
                                <p style="color: black; text-align: center;">150 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$30.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 dish-box-wp dinner" data-cat="dinner">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/soup1.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Ramen</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Broth, noodles, chicken, red pepper, onion, egg.</p>
                                <p style="color: black; text-align: center;">130 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$50.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 dish-box-wp dinner" data-cat="dinner">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/udon.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Funchoza</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <p style="color: black; text-align: center;">Funchoza, carrots, peppers, cabbage, chicken meat, sauce, butter.</p>
                                <p style="color: black; text-align: center;">150 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$45.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 dish-box-wp dinner" data-cat="dinner">
                        <div class="dish-box text-center">
                            <div class="dist-img">
                                <img src="~/client/assets/images/osminog.JPG" alt="">
                            </div>
                            <div class="dish-title">
                                <h3 class="h3-title">Octopus</h3>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <p style="color: black; text-align: center;">Octopus, tomato sauce, butter, spices.</p>
                                <p style="color: black; text-align: center;">120 calories</p>
                            </div>

                            <div class="dist-bottom-row">
                                <ul>
                                    <li>
                                        <b>$60.00</b>
                                    </li>
                                    <li>
                                        <button class="dish-add-btn">
                                            <i class="uil uil-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--menu section end  -->