<!--about section start -->
<section class="about-sec section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title text-center mb-5">

                    <h2 class="h2-title">About Us</h2>
                    <p>
                        Welcome to our culinary journey through Asian cuisine! We are committed to sharing with you our passion for the amazing flavors and traditions of Asian cooking.
                        In our About Us section, we want to share not only recipes and cooking secrets, but also tell you about the rich history and cultural significance of each Asian cuisine. We invite you to go on an exciting journey to different parts of Asia, where you will get acquainted with the traditions, customs and magnificent dishes of this amazing region.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-video">
                    <div class="play-btn-wp">
                        <video width="400" controls>
                            <source src="~/client/assets/images/videochef.MOV" type="video/mp4">
                        </video>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about section end -->