<!--customers section start  -->
<section class="testimonials section bg-light">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">
                        <h2 class="h2-title"> Customers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="testimonials-img">
                        <img src="assets/images/restaurant.JPG" alt="" style="border-radius: 100px; width: 390px;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="testimonials-box">
                                <div class="testimonial-box-top">
                                    <div class="testimonials-box-img back-img"
                                         style="background-image: url(assets/images/foto1.jpg);">
                                    </div>
                                    <div class="star-rating-wp">
                                        <div class="star-rating">
                                            <span class="star-rating__fill" style="width:85%"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="testimonials-box-text">
                                    <h3 class="h3-title">
                                        Lisa Arambula
                                    </h3>
                                    <p>I visited your restaurant last night and was absolutely delighted! The environment was cozy and pleasant, the service was top notch and the atmosphere was simply magical.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="testimonials-box">
                                <div class="testimonial-box-top">
                                    <div class="testimonials-box-img back-img"
                                         style="background-image: url(assets/images/foto2.jpg);">
                                    </div>
                                    <div class="star-rating-wp">
                                        <div class="star-rating">
                                            <span class="star-rating__fill" style="width:80%"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="testimonials-box-text">
                                    <h3 class="h3-title">
                                        John Doe
                                    </h3>
                                    <p>I am delighted with your dishes! Exquisite combinations of flavors, quality ingredients and attention to detail make each dish unique and inimitable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="testimonials-box">
                                <div class="testimonial-box-top">
                                    <div class="testimonials-box-img back-img"
                                         style="background-image: url(assets/images/foto3.jpg);">
                                    </div>
                                    <div class="star-rating-wp">
                                        <div class="star-rating">
                                            <span class="star-rating__fill" style="width:89%"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="testimonials-box-text">
                                    <h3 class="h3-title">
                                        Olivia Williams
                                    </h3>
                                    <p>I would like to express special gratitude to your staff for their attentive service. They were polite, friendly and always ready to help with food and drink selections.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="testimonials-box">
                                <div class="testimonial-box-top">
                                    <div class="testimonials-box-img back-img"
                                         style="background-image: url(assets/images/сustomer.JPG);">
                                    </div>
                                    <div class="star-rating-wp">
                                        <div class="star-rating">
                                            <span class="star-rating__fill" style="width:100%"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="testimonials-box-text">
                                    <h3 class="h3-title">
                                        Somyadeep Bhowmik
                                    </h3>
                                    <p>I visited your restaurant last night and was absolutely delighted! The environment was cozy and pleasant, the service was top notch and the atmosphere was simply magical.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--customers section end  -->