 <!--contact section start  -->
<section class="contact">
    <h1 class="heading">CONTACT US</h1>
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.4442552960622!2d37.5654782!3d55.750784499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a40ecf037eb%3A0x267062d706f471f0!2sBlack%20Thai!5e0!3m2!1sen!2saz!4v1714343417413!5m2!1sen!2saz" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!--contact section end  -->